.ident {
  width: 760px;
  height: 700px;
}

.ident .ident_width {
  width: 720px;
  height: 560px;
  margin: 0 auto;
}

.ident .ident_width .ident_title {
  width: 100%;
  height: 50px;
  line-height: 68px;
}

.ident .ident_width .process {
  width: 517px;
  height: 60px;
  margin: 0 auto;
}

.ident .ident_width .process .process1, .ident .ident_width .process .process2, .ident .ident_width .process .process3, .ident .ident_width .process .process4 {
  width: 78px;
  height: 60px;
  float: left;
  margin-right: 49px;
  position: relative;
}

.ident .ident_width .process .process1 .pro_radius, .ident .ident_width .process .process2 .pro_radius, .ident .ident_width .process .process3 .pro_radius, .ident .ident_width .process .process4 .pro_radius {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #C8C8C8;
  margin: 0 auto;
  text-align: center;
  line-height: 28px;
}

.ident .ident_width .process .process1 .pro_radius span, .ident .ident_width .process .process2 .pro_radius span, .ident .ident_width .process .process3 .pro_radius span, .ident .ident_width .process .process4 .pro_radius span {
  color: white;
}

.ident .ident_width .process .process1 .real_bg, .ident .ident_width .process .process2 .real_bg, .ident .ident_width .process .process3 .real_bg, .ident .ident_width .process .process4 .real_bg {
  background-color: #906038;
}

.ident .ident_width .process .process1 .rel_color, .ident .ident_width .process .process2 .rel_color, .ident .ident_width .process .process3 .rel_color, .ident .ident_width .process .process4 .rel_color {
  color: #906038 !important;
}

.ident .ident_width .process .process1 .real_name, .ident .ident_width .process .process2 .real_name, .ident .ident_width .process .process3 .real_name, .ident .ident_width .process .process4 .real_name {
  text-align: center;
  margin-top: 10px;
  color: #C8C8C8;
}

.ident .ident_width .process .process1 > .line_, .ident .ident_width .process .process2 > .line_, .ident .ident_width .process .process3 > .line_, .ident .ident_width .process .process4 > .line_ {
  width: 99px;
  position: absolute;
  border: 1px solid #C8C8C8;
  top: 14px;
  left: 53px;
}

.ident .ident_width .process .process1 .real_bg2, .ident .ident_width .process .process2 .real_bg2, .ident .ident_width .process .process3 .real_bg2, .ident .ident_width .process .process4 .real_bg2 {
  border: 1px solid #906038;
}

.ident .ident_sub {
  width: 100%;
  height: auto;
}

.ident .ident_sub .ident_ifor {
  width: 100%;
  height: 630px;
}

.ident .ident_sub .ident_ifor .layui-form-item {
  margin-top: 35px;
}

.ident .ident_sub .ident_ifor .layui-form-item .layui-input, .ident .ident_sub .ident_ifor .layui-form-item select, .ident .ident_sub .ident_ifor .layui-form-item .layui-form-select {
  width: 300px !important;
}

.ident .ident_sub .ident_ifor .layui-form-item .layui-edge {
  left: 270px;
}

.ident .ident_sub .ident_ifor .layui-form-item select {
  width: 300px;
}

.ident .ident_sub .ident_ifor .layui-upload {
  margin-top: 25px;
}

.ident .ident_sub .ident_ifor .layui-upload #demo2 {
  margin-top: 35px;
}

.ident .ident_sub .ident_ifor .ident_but {
  width: 150px;
  height: 40px;
  background-color: #7F5430;
  text-align: center;
  line-height: 40px;
  margin: 35px auto;
  border-radius: 10px;
  color: white;
  font-size: 18px;
}

.ident .ident_sub .ident_work {
  width: 100%;
  height: 500px;
  display: none;
}

.ident .ident_sub .ident_work .pros_citys {
  margin-top: 20px;
  height: 50px;
}

.ident .ident_sub .ident_work .pros_citys .pro_city, .ident .ident_sub .ident_work .pros_citys .work_kind {
  float: left;
  width: 350px;
  height: 30px;
}

.ident .ident_sub .ident_work .pros_citys .pro_city #province, .ident .ident_sub .ident_work .pros_citys .work_kind #province, .ident .ident_sub .ident_work .pros_citys .pro_city #city, .ident .ident_sub .ident_work .pros_citys .work_kind #city {
  width: 145px;
  height: 30px;
  float: left;
  margin-right: 10px;
}

.ident .ident_sub .ident_work .pros_citys .work_kind {
  width: 76px;
  text-align: center;
  line-height: 30px;
  margin-left: 30px;
  margin-right: 5px;
}

.ident .ident_sub .ident_work .layui-form .layui-form-item input {
  width: 300px;
}

.ident .ident_sub .ident_work .layui-form .ident_but2 {
  width: 150px;
  height: 40px;
  background-color: #7F5430;
  text-align: center;
  line-height: 40px;
  margin: 35px auto;
  border-radius: 10px;
  color: white;
  font-size: 18px;
}
