
*{
    margin: 0 auto;
}
.reg_bg{
  background:url("../imgs/login/background.png")no-repeat 100% 100%;
  width: 100%;
  height: 1100px;
  position: relative;
    .reg_reg{
        width: 500px;
        position: absolute;
        left: 50%;
        transform: translateX(-200px) translateY(150px);
        box-shadow: 5px 5px 5px #C1C0BC;
        >h1{
            text-align: center;
            color: #F0F0F0
        };
        >p{
            text-align: center;
            color: #F0F0F0;
            
            span{
                margin-left:10px;
                font: 14px '微软雅黑'
            }
            }
            >.reg_user{
                background-color: #F0F0F0;
                width: 500px;
                height: 480px;
                margin-top: 40px;
                border-radius: 5px;
                .reg_width{
              width: 380px;
                .back{
                    font: 12px '微软雅黑';
                    padding-top: 20px;
                }
                >h3{
                    text-align: center;
                    font:  16px '黑体';
                    text-shadow: 2px 2px 2px #C0C0C0;
                    padding-top: 10px
                }
                >.ifor{
                .user_name{
                    border: none;
                    outline: none;
                    padding-top: 45px;
                    background-color: #F0F0F0   ;
                    font:500 12px '微软雅黑';
                    color: black;
                width:300px;
                };
                .res{
                    color: red;
                    font: 14px '微软雅黑'

                }
                >.user_line{
                    width:100%;
                    border: 0.5px solid rgb(167, 149, 149);
                    margin-top: 15px
                }
             >button{
                 width: 100%;
                 padding: 7px;
                 border-radius: 10px;
                 background-color: #B3B3B3;
                 margin-top: 60px;
                 outline: none;
                 border: 1px solid #B3B3B3;
                 color: white;
             }
            .copy{
                margin-top: 250px;
                >p{
                    font: 12px '微软雅黑';
                    color: #F0F0F0;
                    text-align: center
                 }
            
            } }
             
            }
        }
        
    }
    
}