@charset "UTF-8";
* {
  margin: 0 auto;
}

.reg_bg {
  background: url("../imgs/login/background.png") no-repeat 100% 100%;
  width: 100%;
  height: 1100px;
  position: relative;
}

.reg_bg .reg_reg {
  width: 500px;
  position: absolute;
  left: 50%;
  transform: translateX(-200px) translateY(150px);
  box-shadow: 5px 5px 5px #C1C0BC;
}

.reg_bg .reg_reg > h1 {
  text-align: center;
  color: #F0F0F0;
}

.reg_bg .reg_reg > p {
  text-align: center;
  color: #F0F0F0;
}

.reg_bg .reg_reg > p span {
  margin-left: 10px;
  font: 14px '微软雅黑';
}

.reg_bg .reg_reg > .reg_user {
  background-color: #F0F0F0;
  width: 500px;
  height: 450px;
  margin-top: 40px;
}

.reg_bg .reg_reg > .reg_user .back {
  font: 12px '微软雅黑';
  padding: 10px 20px;
}

.reg_bg .reg_reg > .reg_user > h3 {
  text-align: center;
  font: 450 16px '黑体';
  text-shadow: 2px 2px 2px #C0C0C0;
  padding-top: 20px;
}

.reg_bg .reg_reg > .reg_user > .ifor .user_name {
  border: none;
  outline: none;
  padding-top: 50px;
  padding-left: 20px;
  background-color: #F0F0F0;
  font: 500 12px '微软雅黑';
  color: black;
}

.reg_bg .reg_reg > .reg_user > .ifor > .user_line {
  width: 460px;
  border: 0.5px solid #a79595;
  margin-top: 15px;
}

.reg_bg .reg_reg > .reg_user > .ifor > button {
  width: 460px;
  padding: 7px;
  margin-left: 20px;
  border-radius: 10px;
  background-color: #B3B3B3;
  margin-top: 60px;
  outline: none;
}

.reg_bg .reg_reg > .reg_user > .ifor .copy {
  margin-top: 250px;
}

.reg_bg .reg_reg > .reg_user > .ifor .copy > p {
  font: 12px '微软雅黑';
  color: #F0F0F0;
  text-align: center;
}
