@charset "UTF-8";
* {
  margin: 0 auto !important;
  padding: 0;
  color: #444444;
}

ul, li, a {
  list-style: none;
  text-decoration: none;
}

.user {
  width: 991px;
  height: 857px;
  margin-top: 60px !important;
}

.user .userLeft {
  width: 210px;
  background-color: #f4f4f4;
  float: left;
  box-sizing: border-box;
}

.user .userLeft .normal-user {
  padding-top: 42px;
  font-size: 20px;
  padding-left: 19px;
}

.user .userLeft .normal-user .normal-line {
  border-top: 1px solid #cccccc;
  margin-left: -19px;
  height: 0;
}

.user .userLeft .normal-user div {
  font-size: 16px;
  margin-top: 16px !important;
  margin-left: -19px !important;
  padding-left: 19px;
  height: 50px;
  line-height: 50px;
}

.user .artisan {
  padding-top: 31px;
  font-size: 20px;
  padding-left: 19px;
}

.user .artisan div {
  margin-top: 16px !important;
  margin-left: -19px !important;
  padding-left: 19px;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
}

.userRight {
  width: 763px;
  height: 100%;
  display: inline-block;
  margin-left: 13px !important;
}

.userHeader {
  width: 100%;
  height: 163px;
  background: #f4f4f4;
}

.userHeader .headMsg {
  height: 130px;
  position: relative;
  top: 21px;
}

.userHeader .headMsg .userImg {
  width: 128px;
  height: 130px;
  display: inline-block;
  margin-left: 18px !important;
  float: left;
}

.userHeader .headMsg .userImg img {
  border-radius: 50%;
}

.userHeader .headMsg .headMsg-right {
  display: inline-block;
}

.userHeader .headMsg .headMsg-right .showUsername {
  font-size: 18px;
}

.userHeader .headMsg .headMsg-right .toPerfect div:nth-child(2), .userHeader .headMsg .headMsg-right .toPerfect div:nth-child(3) {
  margin-left: 15px !important;
}

.userHeader .headMsg .headMsg-right .toPerfect div:nth-child(4) {
  font-size: 18px;
  margin-left: 55px !important;
}

.userHeader .headMsg .headMsg-right .toPerfect div:nth-child(4) a {
  color: #936237;
}

.userHeader .headMsg .headMsg-right .artsianMsg {
  position: relative;
}

.userHeader .headMsg .headMsg-right .artsianMsg div:nth-child(2), .userHeader .headMsg .headMsg-right .artsianMsg div:nth-child(3) {
  margin-left: 37px !important;
}

.userHeader .headMsg .headMsg-right .artsianMsg .yes {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  border: 1px solid #936237;
}

.userHeader .headMsg .headMsg-right .artsianMsg .yes::after {
  content: "√";
  color: #936237;
  font-weight: bolder;
  position: absolute;
  top: 0;
}

.userHeader .headMsg .headMsg-right .toPerfect, .userHeader .headMsg .headMsg-right .artsianMsg {
  margin-top: 22.5px !important;
  font-size: 14px;
  color: #787878;
}

.userHeader .headMsg .headMsg-right .toPerfect div, .userHeader .headMsg .headMsg-right .artsianMsg div {
  display: inline-block;
}

.userHeader .headMsg .headMsg-right .toPerfect .msgSkill, .userHeader .headMsg .headMsg-right .artsianMsg .msgSkill {
  display: inline-block;
  border: 1px solid;
  background: #e8e8e8;
  border-radius: 5px;
  width: 214px;
  height: 11px;
}

.userHeader .headMsg .headMsg-right .toPerfect .msgSkill .skillChild, .userHeader .headMsg .headMsg-right .artsianMsg .msgSkill .skillChild {
  float: left;
  width: 60%;
  height: 11px;
  border-radius: 5px;
  background: #936237;
  margin-left: -1px !important;
}

.userChosen-more {
  background: #f4f4f4;
  width: 100%;
  margin-top: 16px !important;
  padding-bottom: 25px !important;
}

.userChosen-more .showuserContent {
  width: 94%;
}

.userChosen-more .showuserContent div div {
  display: inline-block;
  margin-top: 50px !important;
}

.userChosen-more .showuserContent div div:nth-child(1) {
  width: 100px;
}

.userChosen-more .showuserContent .contentTitle-revise {
  text-align: center;
  position: relative;
  bottom: -80px;
}

.forDisplay {
  display: none;
}

.chosenTitle, .userChosen-more .showuserMsg-title, .myOrder-title, .myWorks {
  width: 94%;
  height: 58px;
  border-bottom: 1.5px solid #d2d2d2;
  line-height: 58px;
  font-size: 18px;
  color: #444444;
}

.chosenContent {
  width: 94%;
}

.chosenContent .content-title_input > div {
  margin-top: 37px !important;
}

.chosenContent .content-title_input div div {
  display: inline-block;
}

.chosenContent .content-title_input .moveBox {
  width: 350px;
}

.chosenContent .content-title_input .headPic {
  margin-top: 6px !important;
}

.chosenContent .content-title_input .headPic #picUp {
  margin-left: 21px !important;
}

.chosenContent .content-title_input .headPic .layui-upload-list {
  margin-left: 10px !important;
}

.chosenContent .content-title_input .headPic img {
  border-radius: 50%;
}

.chosenContent .content-title_input .userName .nameInput {
  margin-left: 27px !important;
}

.chosenContent .content-title_input .bornYear input {
  margin-left: 13px !important;
}

.chosenContent .content-title_input .sex > div {
  margin-left: 39px !important;
}

.chosenContent .content-title_input .consignee input {
  margin-left: 26px !important;
}

.chosenContent .content-title_input .contactWay input {
  margin-left: 12px !important;
}

.chosenContent .content-title_input .address .addressMove {
  margin-left: 11px !important;
}

.chosenContent .content-title_input .address .layui-input {
  width: 150px;
  height: 30px;
}

.chosenContent .content-title_input .profile div {
  position: relative;
  top: -58px;
}

.chosenContent .content-title_input .profile textarea {
  margin-left: 11px !important;
}

.orderList, .myWorks-content {
  width: 95%;
  height: 510px;
  margin-top: 15px !important;
}

.orderList .getOrder-title, .myWorks-content .getOrder-title {
  background: #cbcbcb;
  height: 32px;
  font-size: 12px;
}

.orderList .getOrder-title div, .myWorks-content .getOrder-title div {
  display: inline-block;
  line-height: 32px;
}

.orderList .getOrder-title .getOrder-title1, .myWorks-content .getOrder-title .getOrder-title1 {
  margin-left: 24.5% !important;
  margin-right: 31.5% !important;
}

.orderList .getOrder-title div:nth-child(3), .myWorks-content .getOrder-title div:nth-child(3), .orderList .getOrder-title div:nth-child(4), .myWorks-content .getOrder-title div:nth-child(4) {
  margin-left: 9% !important;
}

.orderList .orderList-title, .myWorks-content .orderList-title {
  background: #cbcbcb;
  height: 32px;
  font-size: 12px;
}

.orderList .orderList-title div, .myWorks-content .orderList-title div {
  display: inline-block;
  line-height: 32px;
}

.orderList .orderList-title .orderList-title1, .myWorks-content .orderList-title .orderList-title1 {
  margin-left: 13.5% !important;
}

.orderList .orderList-title div:nth-child(2), .myWorks-content .orderList-title div:nth-child(2) {
  margin-left: 16% !important;
}

.orderList .orderList-title div:nth-child(3), .myWorks-content .orderList-title div:nth-child(3), .orderList .orderList-title div:nth-child(4), .myWorks-content .orderList-title div:nth-child(4), .orderList .orderList-title div:nth-child(5), .myWorks-content .orderList-title div:nth-child(5) {
  margin-left: 12% !important;
}

.orderList .orderList-content .orderList-content_child, .myWorks-content .orderList-content .orderList-content_child {
  height: 96px;
  background: #ffffff;
}

.orderList .orderList-content .orderList-content_child div, .myWorks-content .orderList-content .orderList-content_child div {
  display: inline-block;
}

.orderList .orderList-content .orderList-content_child .child_worksPic, .myWorks-content .orderList-content .orderList-content_child .child_worksPic {
  margin-left: 6px !important;
  line-height: 96px;
}

.orderList .orderList-content .orderList-content_child .getOrder-need, .myWorks-content .orderList-content .orderList-content_child .getOrder-need {
  width: 300px;
}

.orderList .orderList-content .orderList-content_child .getOrder-need p:nth-child(2), .myWorks-content .orderList-content .orderList-content_child .getOrder-need p:nth-child(2) {
  font-size: 12px;
  color: #787878;
  position: relative;
  top: 10px;
}

.orderList .orderList-content .orderList-content_child .child_worksTitle, .myWorks-content .orderList-content .orderList-content_child .child_worksTitle {
  width: 148px;
  position: relative;
  top: 5px;
  left: 5px;
}

.orderList .orderList-content .orderList-content_child .child_worksTitle p:nth-child(2), .myWorks-content .orderList-content .orderList-content_child .child_worksTitle p:nth-child(2) {
  font-size: 12px;
  color: #787878;
  position: relative;
  top: 13px;
}

.orderList .orderList-content .orderList-content_child .child_worksLast4, .myWorks-content .orderList-content .orderList-content_child .child_worksLast4 {
  margin-left: 4.3% !important;
}

.orderList .orderList-content .orderList-content_child .child_worksLast4 div, .myWorks-content .orderList-content .orderList-content_child .child_worksLast4 div {
  font-size: 13.5px;
  color: #787878;
}

.orderList .orderList-content .orderList-content_child .child_worksLast4 div:nth-child(2), .myWorks-content .orderList-content .orderList-content_child .child_worksLast4 div:nth-child(2), .orderList .orderList-content .orderList-content_child .child_worksLast4 div:nth-child(3), .myWorks-content .orderList-content .orderList-content_child .child_worksLast4 div:nth-child(3), .orderList .orderList-content .orderList-content_child .child_worksLast4 div:nth-child(4), .myWorks-content .orderList-content .orderList-content_child .child_worksLast4 div:nth-child(4) {
  padding-left: 6.35rem !important;
}

.orderList .orderList-content .orderList-content_child .child_worksLast4 div:nth-child(3), .myWorks-content .orderList-content .orderList-content_child .child_worksLast4 div:nth-child(3) {
  position: relative;
  left: 12.5px;
}

.orderList .orderList-content .orderList-content_child .getOrder_last3 div, .myWorks-content .orderList-content .orderList-content_child .getOrder_last3 div {
  font-size: 13.5px;
}

.orderList .orderList-content .orderList-content_child .getOrder_last3 div:nth-child(1), .myWorks-content .orderList-content .orderList-content_child .getOrder_last3 div:nth-child(1) {
  margin-left: 2.8rem !important;
}

.orderList .orderList-content .orderList-content_child .getOrder_last3 div:nth-child(2), .myWorks-content .orderList-content .orderList-content_child .getOrder_last3 div:nth-child(2) {
  margin-left: 5rem !important;
}

.orderList .orderList-content .orderList-content_child .getOrder_last3 div:nth-child(3), .myWorks-content .orderList-content .orderList-content_child .getOrder_last3 div:nth-child(3) {
  margin-left: 4rem !important;
  width: 80px;
  height: 30px;
  background-color: #936237;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
  line-height: 30px;
}

.orderList .orderList-content .orderList-content_child .getOrder_last3 div:nth-child(3) a, .myWorks-content .orderList-content .orderList-content_child .getOrder_last3 div:nth-child(3) a {
  color: #ffffff;
}

.myWorks {
  position: relative;
}

.myWorks .load-newWorks {
  width: 110px;
  height: 30px;
  background-image: linear-gradient(0deg, #684323 0%, #936237 100%);
  border-radius: 5px;
  position: absolute;
  right: 0;
  top: 15px;
  line-height: 30px;
  text-align: center;
}

.myWorks .load-newWorks a {
  font-size: 14px;
  color: #ffffff;
}

.myWorks-content {
  display: flex;
  flex-wrap: wrap;
  height: auto;
}

.ident {
  width: 95%;
}

.ident .ident_width .ident_title {
  width: 100%;
  height: 50px;
  line-height: 68px;
}

.ident .ident_width .process {
  text-align: center;
  position: relative;
  left: 12.6rem;
}

.ident .ident_width .process .process1, .ident .ident_width .process .process2, .ident .ident_width .process .process3, .ident .ident_width .process .process4 {
  width: 78px;
  height: 60px;
  float: left;
  margin-right: 49px;
  position: relative;
}

.ident .ident_width .process .process1 .pro_radius, .ident .ident_width .process .process2 .pro_radius, .ident .ident_width .process .process3 .pro_radius, .ident .ident_width .process .process4 .pro_radius {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #C8C8C8;
  margin: 0 auto;
  text-align: center;
  line-height: 28px;
}

.ident .ident_width .process .process1 .pro_radius span, .ident .ident_width .process .process2 .pro_radius span, .ident .ident_width .process .process3 .pro_radius span, .ident .ident_width .process .process4 .pro_radius span {
  color: white;
}

.ident .ident_width .process .process1 .real_bg, .ident .ident_width .process .process2 .real_bg, .ident .ident_width .process .process3 .real_bg, .ident .ident_width .process .process4 .real_bg {
  background-color: #906038;
}

.ident .ident_width .process .process1 .rel_color, .ident .ident_width .process .process2 .rel_color, .ident .ident_width .process .process3 .rel_color, .ident .ident_width .process .process4 .rel_color {
  color: #906038 !important;
}

.ident .ident_width .process .process1 .real_name, .ident .ident_width .process .process2 .real_name, .ident .ident_width .process .process3 .real_name, .ident .ident_width .process .process4 .real_name {
  text-align: center;
  margin-top: 10px;
  color: #C8C8C8;
}

.ident .ident_width .process .process1 > .line_, .ident .ident_width .process .process2 > .line_, .ident .ident_width .process .process3 > .line_, .ident .ident_width .process .process4 > .line_ {
  width: 99px;
  position: absolute;
  border: 1px solid #C8C8C8;
  top: 14px;
  left: 53px;
}

.ident .ident_width .process .process1 .real_bg2, .ident .ident_width .process .process2 .real_bg2, .ident .ident_width .process .process3 .real_bg2, .ident .ident_width .process .process4 .real_bg2 {
  border: 1px solid #906038;
}

.ident .ident_sub {
  width: 100%;
  height: auto;
}

.ident .ident_sub .ident_ifor {
  width: 100%;
}

.ident .ident_sub .ident_ifor .layui-form-item {
  margin-top: 35px !important;
}

.ident .ident_sub .ident_ifor .layui-form-item .layui-input, .ident .ident_sub .ident_ifor .layui-form-item select, .ident .ident_sub .ident_ifor .layui-form-item .layui-form-select {
  width: 300px !important;
  float: left;
}

.ident .ident_sub .ident_ifor .layui-form-item .layui-edge {
  left: 270px;
}

.ident .ident_sub .ident_ifor .layui-form-item select {
  width: 300px;
}

.ident .ident_sub .ident_ifor .layui-upload {
  margin-top: 25px;
}

.ident .ident_sub .ident_ifor .layui-upload #demo2 {
  margin-top: 35px;
}

.ident .ident_sub .ident_ifor .ident_but {
  width: 150px;
  height: 40px;
  background-color: #7F5430;
  text-align: center;
  line-height: 40px;
  margin: 35px auto;
  border-radius: 10px;
  color: white;
  font-size: 18px;
}

.ident .ident_sub .ident_work {
  display: none;
}

.ident .ident_sub .ident_work .pros_citys {
  margin-top: 20px;
  height: 50px;
}

.ident .ident_sub .ident_work .layui-form .layui-form-item {
  margin-top: 35px !important;
}

.ident .ident_sub .ident_work .layui-form .layui-form-item input {
  width: 300px;
  float: left;
}

.ident .ident_sub .ident_work .layui-form .layui-form-item:nth-child(1) input {
  width: 100px;
}

.ident .ident_sub .ident_work .layui-form .layui-form-item:nth-child(1) i {
  float: left;
  position: relative !important;
  left: -20px;
  top: 10px;
}

.ident .ident_sub .ident_work .layui-form .ident_but2 {
  width: 150px;
  height: 40px;
  background-color: #7F5430;
  text-align: center;
  line-height: 40px;
  margin: 35px auto;
  border-radius: 10px;
  color: white;
  font-size: 18px;
}

.gotoRevise a {
  color: #936237;
}

.confirm_cancel {
  text-align: center;
  position: relative;
  bottom: -80px;
}

.confirm_cancel .cancel {
  background-image: linear-gradient(0deg, #936237 0%, #ab794c 100%) !important;
  margin-left: 42px !important;
}

input {
  color: #787878;
  font-size: 12px;
}

.getthis, .userChosen-more .showuserContent .contentTitle-revise input, .confirm_cancel .confirm, .confirm_cancel .cancel {
  width: 80px;
  height: 30px;
  color: #ffffff;
  border: none;
  cursor: pointer;
  background-image: linear-gradient(0deg, #684323 0%, #936237 100%);
}
