@charset "UTF-8";
* {
  margin: 0 auto;
  box-sizing: border-box;
  letter-spacing: 1.5px;
  text-decoration: none;
}

body {
  background-color: #E6E6E6;
}

img {
  width: 100%;
}

.banner {
  max-width: 100%;
  margin-bottom: -3px;
}

.banner img {
  width: 100%;
}

.recruit {
  width: 62.5%;
  background: url(../img/招募/bg.png) no-repeat;
  background-size: cover;
}

.recruit-header {
  width: 69%;
}

.recruit-header .title {
  padding-top: 5em;
}

.title-more {
  margin-top: -10px;
  font-size: 27px;
}

.title-more div {
  display: inline-block;
}

.title-more .title-left {
  margin-right: 5px;
  width: 40%;
  position: relative;
  top: -20px;
}

.title-more .title-left span {
  line-height: 46px;
}

.title-more .title-right {
  width: 56%;
}

.title-more2 {
  position: relative;
  top: -20px;
}

.title-more2 span:nth-child(1) {
  border: 1px solid black;
  font-size: 23px;
  padding-left: 15px;
  padding-right: 40px;
  margin-right: 13px;
}

.title-more2 span:nth-child(2) {
  font-size: 39px;
}

.join {
  text-align: center;
  font-size: 23px;
  margin-top: 30px;
}

.join a {
  color: white;
  width: 64.5%;
  height: 44.5px;
  line-height: 44.5px;
  background: #936237;
  border-radius: 1em;
  display: block;
}

.our-talk {
  border: 1.5px solid black;
  border-top: none;
  font-size: 15px;
  margin-top: 4em;
  margin-bottom: 3.6em;
}

.our-talk .coverLeft {
  border-bottom: 1.6px solid black;
  position: relative;
  left: -36.7%;
  top: -1px;
  width: 27%;
}

.our-talk .coverRight {
  border-top: 1.6px solid black;
  position: relative;
  right: -37.18%;
  top: -2px;
  width: 26%;
}

.our-talk div {
  padding: 1.1em 0;
  line-height: 26px;
  text-align: center;
}

.to-heart {
  text-align: center;
  padding-bottom: 5em;
}

.to-heart p {
  font-size: 21px;
  font-family: "KaiTi";
}

.to-heart p:nth-child(3) {
  font-size: 18px;
  margin-top: 16px;
}

.bottom {
  height: 10em;
  background-color: #4e4e4e;
}
